@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/edit.css">

@model BestRestaurants.Models.Cuisine

<h1>Add a new cuisine</h1>
@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Name"})<br><br>
  <button type="submit" class="btn btn-outline-info add">Add Cuisine</button>
}
<button class="btn btn-outline-info show">@Html.ActionLink("Show all cuisines", "Index")</button>