body {
  background-color: #f7e5cd;
  text-align: center;
  }

  div#footer {
    position:fixed;
    bottom:0px;
    left:-15px;
    height: 20%;
    width:100%;
    color:#CCC;
    padding:8px;
    margin-top: 5px;
  }

h1 {
  color: rgb(93, 64, 44);
  text-align: center;
  font-family: 'figtree', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

a{
  color: white;
  text-decoration: none;
  font-family: 'figtree', sans-serif;
  font-size: 25px;
}

a:hover {
  color: white;
  text-decoration: none;
}

button {
  margin-bottom: 15px;
}
.add {
  background-color: rgb(93, 64, 44);
  color: white;
  text-decoration: none;
  font-family: 'figtree', sans-serif;
  font-size: 25px;
  margin-top: 20px;
}

.show {
  background-color: rgb(93, 64, 44);
}

button:hover {
  transform: scale(1.1);
}