@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Restaurants!</h1>

<button class="btn btn-light">@Html.ActionLink("See all restaurants", "Index", "Restaurants")</button> 
<button class="btn btn-light">@Html.ActionLink("See all cuisines", "Index", "Cuisines")</button>
